//Fontes
$fonte: 'roboto', sans-serif;

//Cores
$cor-primaria: #3D0C11;
$cor-secundaria: #D80032;
$cor-terciaria:#EF9595;
$cor-quarta:#F9DEC9;
$cor-quinta: #F8F0E5;

//Tamanho das fontes
$tamanho-texto: 3rem;